# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
sipperf

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
libre-prefix/

# libre build files
libre/build-x86_64/
